@font-face {
    font-family: 'PT Serif';
    src: url('../fonts/PTSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.Sessionist2 {
    max-height: 102vh;
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    position: relative;
}

.Sessionist2 .first-half {
    flex: 1;
    background-color: #121212; /* Dark mode background */
}

.Sessionist2 .first-half .text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.Sessionist2 .first-half .text-container h2 {
    font-size: 4em;
    font-family: 'PT Serif', sans-serif;
    font-weight: bold;
    color: #FFFFFF; /* Text color for dark mode */
    text-align: left;
}

.Sessionist2 .first-half .text-container li {
    font-size: 2em;
    font-family: 'PT Serif', sans-serif;
    font-weight: normal;
    color: #FFFFFF; /* Text color for dark mode */
    text-align: start;
    max-width: 650px;
    margin: 15px auto;
}

.Sessionist2 .second-half {
    flex: 1;
    background: #6e40d9; /* Gradient background */
}

.Sessionist2 .second-half .image-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.Sessionist2 .second-half img {
    width: calc(80vh/1.5);
    height: auto;
    box-sizing: border-box;
    margin: 20px;
    padding: 10px;
    border: 20px solid #200461;
}
