@font-face {
    font-family: 'PT Serif';
    src: url('../fonts/PTSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.Teacher {
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    position: relative;
}

.Teacher .first-half {
    flex: 1;
    background-color: #7F74AE;
}

.Teacher .first-half .image-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.Teacher .first-half img {
    width: calc(120vh/1.5);
    height: auto;
    box-sizing: border-box;
    margin-top: 23%;
    padding: 10px;
    border: 20px solid #a293e6;
}

.Teacher .second-half {
    flex: 1;
    background-color: floralwhite;
}

.Teacher .second-half .text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Teacher .second-half .text-container h2 {
    font-size: 4em;
    font-family: 'PT Serif', sans-serif;
    font-weight: bold;
    text-align: left;
}

.Teacher .second-half .text-container p {
    font-size: 2em;
    font-family: 'PT Serif', sans-serif;
    font-weight: normal;
    text-align: center;
    max-width: 550px;
    margin: 20px auto;
}
